

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700&family=Water+Brush&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* caracteristicas del header*/
.header {
    background-image: linear-gradient(to right top, #051937, #003b5f, #005f77, #008479, #25a667);
    top: 0px;
    position: sticky;
    z-index: 10;
    opacity: 95%;
}

.tituloHeader {
    font-family: 'Water Brush', cursive;
    font-size: 3rem;
    text-align: center;
    color:rgb(246, 246, 201);
    margin-top: 10%; 
}

.fotoFreud {
    width: 200px ;
    height: 800 px;
    border-radius: 2rem;
    margin: 10px;
    position: relative;
    float: right;  
}

.logo {
    width: 19rem;  
    height: 7rem ;
    margin: 10px;
    position: relative;
    float: left;
    animation: pulse infinite 4s ease-in-out;
    animation-duration: 2s;
   
}

/*personalizacion del navegador*/
.navbar{
  background-color: rgb(7, 82, 69) ; 
  width: 100%;
  justify-content: space-around;
 
  }
 
.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-weight:bolder;
    text-transform: uppercase;
    margin-right: 20%; 
    margin-left: 20%;  
    padding-left: 2%;
   
}


.fondo {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/imagenFondo.jpg);
    display: flex;
    flex-direction: column;
    position: absolute;
    align-content: center;
    justify-content: center;
    background-size: contain;
    width: 100%;
    
}


/*intento de alineacion del video*/
.video {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*estilos generales de texto*/
.tituloPrincipal {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: right;
    font-weight: 900 bold;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-decoration: underline;
    margin-left: 2rem;
    margin-right: 2rem;
    color: rgb(240, 240, 247);
       
}

.subtitulo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 2rem;
    text-decoration: underline;
    margin-left: 1%;
    color: rgb(240, 240, 247)
}

.subtitulo2{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400 bold;
}
.parrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: justify;
    font-weight: 400;
    margin-left: 3rem;
    margin-right: 3rem;
    color: rgb(240, 240, 247)
} 


.parrafoFooter{
    font-family: 'Water Brush', cursive;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.row {
    margin:0;
    padding: 0;

}
/*estilos de los botones de redes sociales y animacion*/
.socialMedia {      
    display: flex;
    justify-content: center;
    margin-top: 10px ;
    border-radius:10px;
   
 }

.socialMedia {
    animation: float infinite 4s ease-in-out;
}

/* estilos footer*/

 footer {
    background-image: linear-gradient(to right top, #051937, #003b5f, #005f77, #008479, #25a667);
    color: rgb(240, 240, 247);  
    width: 100%;
    height: 25vh;
    bottom: 0%;
    position: relative;
 }

/*estilados propios de cards de bootstrap*/
.card {
    display: inline-block;
    width: 18rem;
    height: max-content;
    margin: 4rem;
    padding: 1rem;
    border-color: #14169c;
    background-color: rgb(7, 82, 69);
    font-family: 'Roboto', sans-serif;
    font-size: small;
    text-align: center;
    color: rgb(240, 240, 247);
}

.btn {
    color: rgb(10, 6, 240);
    background-color: rgb(119, 196, 119) ;
    border-color: #085b00;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3rem;    
}

/*estilos de formulario y mapa de la pagina contacto*/
.formulario {
    position: relative;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: start;
    font-weight: bold;
    color: rgb(240, 240, 247);
    margin: 4rem auto;
    padding: 3rem;
    background:  linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 007.226)),url(../assets/images/cartaFondo.jpg);
    width: 30%;
   
}

.formularioCaja {
margin-top: 1rem; 
margin-bottom: 1rem;

}


.mapa{
    margin: 2rem auto;
    width: 30%;
}


/* keyframes para animacion flotante de redes*/
@keyframes float {
 0% {
    transform: translateY(0);
 }
 50% {transform: translateY(25px);
}
100% {transform: translateY(0);}   
}

/* keyframes para animacion pulso de logo*/
@keyframes pulse {
0% 
    {transform: translateZ(0);
}
50% 
    {transform: translateZ(30px);
}
100%
    {transform: translateZ(0);

}    
}

/*media querys para celular*/
@media screen and (max-width: 767px)
    /*header para celular*/
    {
    .tituloHeader {
        font-size: 2rem;
        margin-top: 5%; 
    }

    .fotoFreud {
        display: none;  
    }

    .logo {
        width: 11rem;  
        height: 3rem ;
        margin: 4px;
        position: relative;
        text-align: center;
    }

    .navbar-toggler{
        background-color: rgba(46, 187, 187, 0.747);
    }
   
    .caricatura{
        width: 334px;
        height: 451px;
    }

    .parrafoFooter{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;  
    }
/*adaptacion de video mapa y formulario*/
    .video{
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin-top: 20%;
    }

    .video iframe {  
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;}  
    
    .mapa{
        display: flex;
        width: 100%;
        margin-left: 0;
    }

    .formulario {
        background-image: none;
        display: flex;
        width: 100%;
    }

    .video{
        display: flex;
        width: 100%;
    }
}


/*media querys para tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
   /*header para tablet*/
    .tituloHeader {
        font-size: 2rem;
        margin-top: 10%; 
    }
    .fotoFreud {
        width: 200px ;
        height: 100px;
        border-radius: 0.5rem;
        margin: 5px;
        float:right;
           
    }
    .logo {
        width: 15rem;  
        height: 5rem ;
        margin: 3px;
        position: relative;
        text-align: center;
    }
}
