@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700&family=Water+Brush&display=swap');

.tituloPrincipal {
    @include fuente-general (right, $decoracion: $subrayado, $tamaño: $tamanio-fuente-chica); 
    font-weight: 900 $negrita;
    font-size: $tamanio-fuente-grande;
    margin-top:map-get($margenes, margen2 );
    margin-bottom: map-get($margenes, margen3 );
    margin-left: map-get($margenes, margen2 );
    margin-right:map-get($margenes, margen2 );
   
}

.subtitulo {
    @include fuente-general (left, $decoracion: $subrayado, $tamaño: $tamanio-fuente-chica);
    font-weight: 700; 
    font-size: $tamanio-fuente-mediana;
    margin-bottom: map-get($margenes, margen2 );
    margin-left: map-get($margenes, margen2 );
   
}

.subtitulo2{
    @include fuente-general (center, $decoracion: $subrayado,$tamaño: $tamanio-fuente-chica );
    font-size: $tamanio-fuente-mediana;
    text-decoration: none;
}

.parrafo {
    @include fuente-general (justify, $decoracion: $subrayado, $tamaño: $tamanio-fuente-chica );
    text-decoration: none;
    font-weight: 400;
    margin-left: map-get($margenes, margen3);
    margin-right: map-get($margenes, margen3);
   
} 
