/*media querys para celular*/
@media screen and (max-width: 767px) {
    /*header para celular*/

.header {
    .tituloHeader {
        font-size: $tamanio-fuente-grande;
        margin-top: 5%;
        }
    .fotoFreud {
       display: none; 
        }
    .logo{
        width: 11rem;  
        height: 4rem ;
        margin: 4px;
        position: $posicion-relativa;
        text-align: $texto-align-center;
        }
    .navbar {
        .navbar-toggler {
            background-color: map-get($colores, color-botones);
            color:map-get($colores, azul );
            border-color:map-get($colores, azul ) ;
        }       
    }
}

.footer{
    .parrafoFooter{
        font-family: $fuente-regular;
        font-size: $tamanio-fuente-chica;  
    }
}
    
.caricatura{
        display: $display-flex;
        margin: auto;
        width: 334px;
        height: 451px;
    }


/*adaptacion de video mapa y formulario*/
    .video{
        position: $posicion-relativa;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin-top: 20%;
        .iFrame {
            position: $posicion-absoluta;
            top:0;
            left: 0;
            width:$ancho;
            height: 100%;}  
        }
    }

    .seccionMapa {
        .mapa{
           display: block;
           margin:0 auto;
        }
    }
    .formulario {
        display: $display-flex;
        width: $ancho;
       
    }

   .card{
    display:$display-flex;
    margin: 1rem auto;
   }

  

/*media querys para tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
   /*header para tablet*/
   
.header {
    .tituloHeader {
        font-size: $tamanio-fuente-grande;
        margin-top: 5%;
        }
    
    .fotoFreud {
        width: 180px ;
        height: 100px;
        border-radius: 0.5rem;
        margin: 5px;
        float:right;
        }
    .logo{
        width: 11rem;  
        height: 3rem ;
        margin: 4px;
        position:  $posicion-relativa;
        text-align: $texto-align-center;
    }
    .navbar {
        .navbar-toggler {
            background-color: map-get($colores, color-botones);
            color:map-get($colores, azul );
            border-color:map-get($colores, azul ) ;
        }      
    }
}   


.caricatura{
    display: $display-flex;
    margin: auto;
   align-items: center;
}

.footer{
    .parrafoFooter{
        font-family: $fuente-regular;
        font-size: $tamanio-fuente-chica;  
    }
}    

.seccionMapa {
    .mapa{
        display:$display-flex;
        width: $ancho;
        margin-left: map-get($margenes, margen0 );
        }
    }
}