$gradiente : linear-gradient(to right top, #051937, #003b5f, #005f77, #008479, #25a667);
$fuente-cursiva: 'Water Brush', cursive;
$fuente-regular: 'Roboto', sans-serif;

$tamanio-fuente-grande:2.5rem;
$tamanio-fuente-mediana:1.70rem;
$tamanio-fuente-chica: 1rem;
$negrita: bold;
$mas-negrita: bolder;
$subrayado: underline;


$texto-align-center: center;
$contenido-centrado: center;
$contenido-alineado: center;

$ancho: 100%;
$display-flex: flex;
$posicion-relativa: relative;
$posicion-absoluta: absolute;
$flex-direction-columna: column;



/*      mapas      */
$colores: (
    color-primario:rgb(246, 246, 201),
    color-secundario:  rgb(7, 82, 69),
    color-botones:rgb(119, 196, 119),
    azul:  rgb(10, 6, 240),
);

$margenes: (
    margen4: 4rem,
    margen3: 3rem,
    margen2: 2rem,
    margen1: 1rem,
    margen0: 0%,
)
